Task1.json
{
  "name": "Task1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        -60
      ],
      "id": "4f33ce79-f562-47a5-9713-79bb99dd13e4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/11AxBIGmPttZf4rKn8EglbWhobkUubE_eeAYKmC9ELXI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/11AxBIGmPttZf4rKn8EglbWhobkUubE_eeAYKmC9ELXI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        80,
        -60
      ],
      "id": "41eb68df-5654-4094-b5b6-ed35c74786d0",
      "name": "Clear Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36P3qjg4jq90XvRP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://data.transportation.gov/resource/fx4q-ay7w.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -60
      ],
      "id": "1693fa13-92f6-49c5-9ac7-85ad98f907a0",
      "name": "Getting Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b9a67014-01e8-4e03-830b-30fe74426e73",
              "leftValue": "={{ $json.change_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a8d57d9d-fb90-4a57-adb4-486ea597807f",
              "leftValue": "={{ $json.shipper_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        -60
      ],
      "id": "7bd70151-7bc0-4334-97d8-268cbeb69d2e",
      "name": "Filtering Data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/11AxBIGmPttZf4rKn8EglbWhobkUubE_eeAYKmC9ELXI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "ValidData",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Compny": "={{ $json.shipper_name }}",
            "Data": "={{ $json.change_date }}"
          },
          "matchingColumns": [
            "Data"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Compny",
              "displayName": "Compny",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "county_code_state",
              "displayName": "county_code_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "county_code",
              "displayName": "county_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insp_level_id",
              "displayName": "insp_level_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "service_center",
              "displayName": "service_center",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "census_source_id",
              "displayName": "census_source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insp_facility",
              "displayName": "insp_facility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shipper_name",
              "displayName": "shipper_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shipping_paper_number",
              "displayName": "shipping_paper_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "snet_version_number",
              "displayName": "snet_version_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "alcohol_control_sub",
              "displayName": "alcohol_control_sub",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "drug_intrdctn_search",
              "displayName": "drug_intrdctn_search",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "drug_intrdctn_arrests",
              "displayName": "drug_intrdctn_arrests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "size_weight_enf",
              "displayName": "size_weight_enf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "traffic_enf",
              "displayName": "traffic_enf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "local_enf_jurisdiction",
              "displayName": "local_enf_jurisdiction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_status_date",
              "displayName": "final_status_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "post_acc_ind",
              "displayName": "post_acc_ind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "gross_comb_veh_wt",
              "displayName": "gross_comb_veh_wt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "viol_total",
              "displayName": "viol_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oos_total",
              "displayName": "oos_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "driver_viol_total",
              "displayName": "driver_viol_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "driver_oos_total",
              "displayName": "driver_oos_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vehicle_viol_total",
              "displayName": "vehicle_viol_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vehicle_oos_total",
              "displayName": "vehicle_oos_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hazmat_viol_total",
              "displayName": "hazmat_viol_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hazmat_oos_total",
              "displayName": "hazmat_oos_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "snet_sequence_id",
              "displayName": "snet_sequence_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transaction_code",
              "displayName": "transaction_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transaction_date",
              "displayName": "transaction_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "upload_date",
              "displayName": "upload_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "upload_first_byte",
              "displayName": "upload_first_byte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "upload_dot_number",
              "displayName": "upload_dot_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "snet_input_date",
              "displayName": "snet_input_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_office",
              "displayName": "source_office",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mcmis_add_date",
              "displayName": "mcmis_add_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insp_carrier_name",
              "displayName": "insp_carrier_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insp_carrier_street",
              "displayName": "insp_carrier_street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insp_carrier_city",
              "displayName": "insp_carrier_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insp_carrier_state",
              "displayName": "insp_carrier_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insp_carrier_zip_code",
              "displayName": "insp_carrier_zip_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "docket_number",
              "displayName": "docket_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "insp_interstate",
              "displayName": "insp_interstate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "census_search_date",
              "displayName": "census_search_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "registration_date",
              "displayName": "registration_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "upload_search_indicator",
              "displayName": "upload_search_indicator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pen_cen_match",
              "displayName": "pen_cen_match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cargo_tank",
              "displayName": "cargo_tank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hazmat_placard_req",
              "displayName": "hazmat_placard_req",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        840,
        -160
      ],
      "id": "0bda40e8-7de9-45a9-8aaa-a7e5d9b12325",
      "name": "Filtered Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36P3qjg4jq90XvRP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/11AxBIGmPttZf4rKn8EglbWhobkUubE_eeAYKmC9ELXI/edit?gid=404191482#gid=404191482",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "InvalidData",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.change_date }}",
            "Company": "{{ $json.shipper_name }}"
          },
          "matchingColumns": [
            "Data"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        840,
        40
      ],
      "id": "851aa57f-820f-44b8-a90c-8aba29fa8230",
      "name": "Invalid Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36P3qjg4jq90XvRP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Clear Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Data": {
      "main": [
        [
          {
            "node": "Getting Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Data": {
      "main": [
        [
          {
            "node": "Filtering Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtering Data": {
      "main": [
        [
          {
            "node": "Filtered Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a7dc106-2848-4072-906a-16dac75f8ab2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "520a9e50136aee80a61fe6e88e364fd9a0178476541f311b33d3cd8c3fb5a4fc"
  },
  "id": "YMNxrJVWcARdMYdl",
  "tags": []
}